:root {
  --bg-dark: #121212;
  --accent-blue: #00BFFF;
  --accent-pink: #FF4081;
  --text-light: #FFFFFF;
  --text-muted: #B0B0B0;
  --panel-bg: #1E1E1E;
  --border-color: #2A2A2A;
}
body {
  background:linear-gradient(#FFFFFF,#00FF99,#0A0F2C);
  font-family: 'Orbitron', sans-serif;
  color: #ffffff;
  display: flex;    
}